*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    text-align: center;
    padding: 10px;
}

button {
    background-color: #40fdbe;  
    border: 4px solid black;
    border-radius: 20%;

    margin: 5px;

}

.container {
   max-width: 80%;
   height: 90%;
   background-color: #d5f8e5;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   border: 5px solid black;
   box-shadow: 5px 5px rgba(0,0,0,0.3);

}

h1 {
    font-size: 35px;
    text-align: center;
    padding: 20px;
}
h3 {
    font-size: 35px;
    text-align: center;
    padding: 20px;
}

.group-btn {
    display: flex;
    justify-content: center;
    width: 100%;
    
}

.group-btn > button > img{
    width: 80%;
}

.result {
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.start-text {
    font-size: 20px;
    text-align: center;
    padding: 20px;
}
.result img {
    width: 30%;
}